GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent
DATABASE_URL=postgresql+psycopg2://your_user:your_password@localhost:5432/your_db_name
JWT_SECRET_KEY=your_secret_key_min_32_chars_here_generate_with_secrets
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=2
JWT_REFRESH_TOKEN_EXPIRE_HOURS=7
LINKIFYI_TOKEN=your_linkifyi_token_here
