fastapi
uvicorn[standard]
pydantic[email]
email-validator>=2.0.0
sqlmodel
alembic
psycopg2-binary
httpx==0.28.1
requests==2.32.5
python-dotenv
Jinja2
sentry-sdk
jwcrypto
python-multipart==0.0.26
passlib[bcrypt]==1.7.4
bcrypt>=3.2.2,<5
PyJWT==2.12.1
slowapi==0.1.9
bleach==6.2.0
